<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="google-site-verification" content="US6FpQ7yjBoAhDsJphQLeiw42S6CbnNlfxZyLkqrb0c" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="robots" content="index,follow">
  <meta name="Author" content="poetryvillage">
  <meta name="Description" content="诗衣村装 淘宝店">
  <meta name="Keywords" content="shop gourmet clothes">
  <meta charset=UTF-8 />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css"/>
  <link rel="canonical" href="/index.html"/>
</head>

<body>

  <div class="leftBar">
  <ul class="home">
  <li><a href="/index.html">主页</a></li>
  <li><a href="http://shop108531678.taobao.com/shop/view_shop-5d8c19a084b562e797d66607577699d0.htm?ref=&ali_trackid=2:mm_30110973_0_0:140528544_43_1679059214&">诗衣村装</a></li>
  <li><a href="http://shop108531678.taobao.com/category-889809194.htm?spm=a1z10.1.0.0.uuxuFl&search=y&catName=%CC%EC%CC%EC%CC%D8%BC%DB">天天特价</a></li>
  <li><a href="http://re.taobao.com/eauction?e=0zEu0P1kg8XebLdhAWchHOstw8vDJOnfAUuPt4hhrd%2BLltG5xFicOSZqewpHPyZzQ9nxhbXYRDhBJcculawEPE6KFH5aX4K5Ww2DEfiaaXmB3ujUJI0OeA%3D%3D&ptype=100010&clk1=eedfea5463508a213c54192ebb8c59cb&upsid=eedfea5463508a213c54192ebb8c59cb&spm=a1z10.5.w5002-5538028968.5.pCdiPI">太平茶叶</a></li>
  <li><a href="http://re.taobao.com/eauction?e=Wk8G0HP0vK8jmraEDZVrLhftMAySXAkxWAcyj9ixhNeLltG5xFicOSZqewpHPyZzQ9nxhbXYRDgF8bg8UYyGjoiJ%2FENcFD8wmShJbliZj%2FaB3ujUJI0OeA%3D%3D&ptype=100010&clk1=2a2f8b64082ece8f43d76ccf685e5168&upsid=2a2f8b64082ece8f43d76ccf685e5168&spm=a1z10.5.w5002-5538028968.8.pCdiPI">严桥花生米</a></li>
  <li><a href="http://re.taobao.com/eauction?e=vlqGUknqAKPebLdhAWchHLb%2FKVyeTLQ8Fu3EMYlpHq%2BLltG5xFicOSZqewpHPyZzQ9nxhbXYRDgF8bg8UYyGjoiJ%2FENcFD8wmShJbliZj%2FaB3ujUJI0OeA%3D%3D&ptype=100010&clk1=ff4556179c9b1b6ef7b359c2da5147ce&upsid=ff4556179c9b1b6ef7b359c2da5147ce&spm=a1z10.5.w5002-5538028968.9.pCdiPI">无为板鸭</a></li>
  </ul>
  </div>
  
  <div class="main">
  {{ content }}
  </div>
  
</body>
</html>
